*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #c4a1a2;
}
.content-wrapper{
    width: 80%;
    margin: 4% 10% 5% 10%;
}
.content-wrapper img{
    width: 1500px;
    height: 1200px;
}
.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -40%;
}
.text-wrapper h1{
    text-align: center;
    color: black;
    font-size: 5vw;
    font-family: 'lobster',cursive;
}
@media (max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width: 909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: 0;
        text-align: center;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
    }
}